%br
%h3 Matchers
%br
= link_to 'New Matcher', new_matcher_path
%br
%br
= "Total Count: #{@matchers_count}"
%br
= will_paginate @matchers
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Matcher Name
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Scenario
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      	   
			
  .tbody
    - @matchers.each do |matcher|
      %tr
        %td{:style=>'text-align:left;'}
          = matcher.name
        %td{:style=>'text-align:left;'}
          = matcher.scenario
        %td{:style=>'text-align:left;'}
          = link_to 'View' , matcher
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_matcher_path(matcher)
        %td{:style=>'text-align:left;'}
          = link_to 'Delete', matcher, :method => :delete, :data => { :confirm => 'Are you sure?' }
