= form_for @route, :html => {:class => "form-horizontal"} do |f|
  - if @route.errors.any?
    #error_explanation
      %h2
        = pluralize(@route.errors.count, "error")
        prohibited this route from being saved:
      %ul
        - @route.errors.full_messages.each do |message|
          %li= message
  .control-group
    = f.label ' '
  .form-main{:style => 'width:100%'}
    .control-group
      .fields
        = f.label :kind, "Kind", :class => 'control-label'
        = f.select :kind, options_for_select(Route.options_for_kind)
    .control-group
      = f.label :http_method, "HTTP Method", :class => 'control-label'
      = f.select :http_method, options_for_select(Route.options_for_http_method)
    .control-group
      = f.label :uri, "URI", :class => 'control-label'
      = f.text_field :uri
  %br
  %h3 Select Macther(s) :
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %th{:style=>'text-align:left; background-color: lightblue; width: 2%'}
        = check_box_tag(:select_all, value = "1", checked = false, options = {})
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Matcher Name
      %th{:style=>'text-align:left; background-color: lightblue;'}
        Scenario
      %th{:style=>'text-align:left; background-color: lightblue;'}
    %tbody
      - @matchers.each do |matcher|
        %tr
          %td{:style=>'text-align:left;'}
            - if @route.matchers.include?(matcher)
              = check_box_tag "matcher_ids[]", matcher.id, true, class: 'saved_request_select'
            - else
              = check_box_tag "matcher_ids[]", matcher.id, false, class: 'saved_request_select'
          %td{:style=>'text-align:left;'}
            = matcher.name
          %td{:style=>'text-align:left;'}
            = matcher.scenario
          %td{:style=>'text-align:left;'}
            = link_to 'Show', matcher
  .actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button :submit, :class=>"btn btn-primary", :id => 'submit_bm_app', :value => label_name + ' Route'
		
:javascript
  $("input#select_all").on("change",function(){
    $('.saved_request_select').prop("checked", $(this).prop("checked"));
  });

  $('.saved_request_select').prop("checked", $(this).prop("checked"));
