%br
%h3 Routes
%br 
= link_to 'New Route', new_route_path
%br
%br
= "Total Count: #{@routes_count}"
%br
= will_paginate @routes
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
      URI
    %th{:style=>'text-align:left; background-color: lightblue;'}
      HTTP Method
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Kind
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      	   
			
  .tbody
    - @routes.each do |route|
      %tr
        %td{:style=>'text-align:left;'}
          = route.uri
        %td{:style=>'text-align:left;'}
          = route.http_method
        %td{:style=>'text-align:left;'}
          = route.kind
        %td{:style=>'text-align:left;'}
          = link_to 'View Matchers', matchers_path(:route_id => route.id)
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_route_path(route)
        %td{:style=>'text-align:left;'}
          = link_to "Show Requests Logs", request_logs_path(route_id: route.id)					
