%br
%h3 Route
- if @route.is_editable?
  = link_to "Edit", edit_route_path
%br
%br
%table.table.table-bordered.table-condensed{style: 'width: 35%'}
  %tr
    %th
      URI :
    %td
      = @route.uri
    %th
      Hidden? :
    %td
      = @route.hidden
  %tr
    %th
      Schema Validator :
    %td
      - if @route.xml_validator.present?
        = link_to "#{@route.xml_validator.name}", @route.xml_validator
      - else
        = '-'
    %th
      Editable? :
    %td
      = @route.is_editable?
%br
= link_to 'New Matcher', new_matcher_path
%br
%br
= "Total Count: #{@route.matchers.count}"
%br
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Type
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Matcher Name
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Scenario
    %th{:style=>'text-align:left; background-color: lightblue;'}
      	   
			
  .tbody
    - @route.matchers.each do |matcher|
      %tr
        %td{:style=>'text-align:left;'}
          = 'Matcher'
        %td{:style=>'text-align:left;'}
          = matcher.name
        %td{:style=>'text-align:left;'}
          = matcher.scenario
        %td{:style=>'text-align:left;'}
          = link_to 'View' , matcher
    - if @nonce_matcher.present?
      %tr
        %td{:style=>'text-align:left;'}
          = 'NONCE'
        %td{:style=>'text-align:left;'}
          = @nonce_matcher.name
        %td{:style=>'text-align:left;'}
          = @nonce_matcher.scenario
        %td{:style=>'text-align:left;'}
          = link_to 'View' , @nonce_matcher
    - if @chain_matcher.present?
      %tr
        %td{:style=>'text-align:left;'}
          = 'CHAIN'
        %td{:style=>'text-align:left;'}
          = @chain_matcher.name
        %td{:style=>'text-align:left;'}
          = @chain_matcher.scenario
        %td{:style=>'text-align:left;'}
          = link_to 'View', @chain_matcher
					
= link_to "Show Requests Logs", request_logs_path(route_id: @route.id)					
