%br

%h3
  Log :

%br

%table.table
  %tbody
    %tr
      %th{:style=>"width: 10%;"}
        Route
      %td 
        = @request_log.route.uri rescue nil
    %tr
      %th{:style=>"width: 10%;"}
        Time
      %td 
        = formatted_time(@request_log.created_at)
				
%h3
  Request Headers :	
%table.table
  %tbody			
    %tr
      %th{:style=>"width: 10%;"}
        Http Method
      %td 
        = @req_resp_details[:request_details].http_method rescue nil
    %tr
      %th{:style=>"width: 10%;"}
        Accept
      %td 
        = @req_resp_details[:request_details].accept rescue nil
    %tr
      %th{:style=>"width: 10%;"}
        Content Type
      %td
        = @req_resp_details[:request_details].content_type rescue nil
%h3
  Request:
%table.table
  %tbody
    %tr
      %th{:style=>"width: 10%;"}
      %td
        = text_area_tag 'request', @req_resp_details[:request_details].request, disabled: true, size: "25x1", id: 'request', :readonly => true ,:style=>"font-size: 1em; padding: 1%; width: 98%; height: 198px; max-height: 198px; resize: none; background-color: white; border: 1px solid silver;"

%h3
  Response Headers :	
%table.table
  %tbody	
    %tr
      %th{:style=>"width: 10%;"}
        Status Code
      %td 
        = @req_resp_details[:response_details].status_code
    %tr
      %th{:style=>"width: 10%;"}
        Content Type
      %td 
        = @req_resp_details[:response_details].content_type
%h3
  Response:
%table.table
  %tbody
    %tr
      %th{:style=>"width: 10%;"}
      %td
        = text_area_tag 'response', @req_resp_details[:response_details].response, disabled: true, size: "25x1", id: 'response', :readonly => true ,:style=>"font-size: 1em; padding: 1%; width: 98%; height: 198px; max-height: 198px; resize: none; background-color: white; border: 1px solid silver;"